<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="media/css/main.css" type="text/css" media="screen"/>

    </script>
        <title>{% block title %} Persone {% endblock %}</title>
</head>
    <body>
        <div id="wraper">
         {% block body %}
            <div id="header">
            <h1>42 Coffee Cups Test Assignment</h1>
            </div>
            <div id="right_collum">
                <span>Name: {{persone.first_name}}</span><br/>
                <span>Last name: {{persone.last_name}}</span><br/>
                <span>Date of birth: {{persone.date}}</span><br/>
                <span>Bio: {{persone.bio}}</span><br/>
            </div>
            <div id="left_collum">
                <span>Email: {{persone.mail}}</span><br/>
                <span>Jabber: {{persone.jabber}}</span><br/>
                <span>Skype: {{persone.skype}}</span><br/>
                <span>Other contacts: {{persone.other}}</span>
            </div>
            <hr/>
            <a class="href" href="/call/">request</a>
        {% endblock %}
        </div>
    </body>
</html>
