{% extends "base.html" %}
{% block title %}
request
{% endblock %}
{% block body %}
<br/>
<a href="/">
<--- back
</a><br/>
<hr/>
Filter by:
   <a href="/request/sorting/asc/">priority</a>
 | <a href="/request/sorting/desc/">reverse priority</a> <br/>
<hr/>
Filter by:
   <a href="/request/filter/false/"> normal logs</a>
 | <a href="/request/filter/true/">priority logs</a>
 | <a href="/request/">all logs</a> <br/>
<hr/>
{% for item in request %}
<span> id request {{item.id}}</span><br/>
<span>user ip {{item.user_ip}}</span><br/>
<span>link from which came <a href="{{item.link_come}}">{{item.link_come}}</a> </span><br/>
<span>user agent {{item.user_agent}}</span><br/>
<span>host name {{item.host}}</span><br/>
<span><b>Priority</b> {{item.priority}}</span><br/>
<br/>
<hr/>
{% endfor %}
{% for item in request2 %}
<span> id request {{item.id}}</span><br/>
<span>user ip {{item.user_ip}}</span><br/>
<span>link from which came <a href="{{item.link_come}}">{{item.link_come}}</a> </span><br/>
<span>user agent {{item.user_agent}}</span><br/>
<span>host name {{item.host}}</span><br/>
<span><b>Priority</b> {{item.priority}}</span><br/>
<br/>
<hr/>
{% endfor %}
{% endblock %}
